*{
    box-sizing: border-box;
}

header{
    background-color:orange;
    text-align:center;
    color:white;
    position:relative;
    z-index:2;
    
}
h1{
    padding:0;
    margin:0;
}
body{
    margin:0;
}
p{
    margin-bottom:20px;
    margin-top:5px;
}
nav{
    display:block;
    width:100%;
    height:30px;
    position: sticky;
    top: 0;
    text-align:right;
    z-index:10;
    background-color:orange;
    padding-top:5px;
}
#navbar{
    background-color:orange;
    width:100%;
    height:30px;
    position: absolute;
    z-index:2;
    top:0;
    padding-top:5px;
}
.link{
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
    text-decoration:none;
    color:white;
}

.fav-btn{
    position:absolute;
    right:0;
}

@media screen and (min-width:992px) {
    #search-input{
        box-sizing: border-box;
        padding:10px;
        height:50px;
        width:650px;
        margin:0 auto;
        display:block;
    }    
}

@media screen and (min-width:768px) {
    #search-input{
        box-sizing: border-box;
        padding:10px;
        height:50px;
        width:650px;
        margin:0 auto;
        display:block;
    }    
}

@media screen and (max-width:768px) {
    #search-input{
        box-sizing: border-box;
        padding:10px;
        height:50px;
        width:90%;
        margin:0 auto;
        display:block;
    }    
}


.beer-container{
    text-align:center;
    margin:12px;
}
.beer-img{
    display:block;
    height:150px;
    margin:0 auto;
}
.beer-name{
    margin:0 auto;
    font-size:26px;
    color:orange;
}
.beer-tag{

}

