*{
    box-sizing: border-box;
}

header{
    padding:20px;
    background-color:orange;
    text-align:center;
    color:white;
}
h1{
    padding:0;
    margin:0;
}
body{
    margin:0;
}
p{
    margin-bottom:20px;
    margin-top:5px;
}
nav{
    position:absolute;
    right:0;
    top:10px;
}
.link{
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
    text-decoration:none;
    color:white;
}

#search-input{
    padding:10px;
    height:50px;
    width:550px;
}

.beer-container{
    text-align:center;
    margin:12px;
}
.beer-img{
    display:block;
    height:150px;
    margin:0 auto;
}
.beer-name{
    margin:0 auto;
}
.beer-tag{

}

