@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:orange;
    text-align:center;
    color:white;
    position:relative;
    z-index:2;
    
}
h1{
    padding:0;
    margin:0;
}
body{
    margin:0;
}
p{
    margin-bottom:20px;
    margin-top:5px;
}
nav{
    display:block;
    width:100%;
    height:30px;
    position: sticky;
    top: 0;
    text-align:right;
    z-index:1;
    background-color:orange;
    padding-top:5px;
}
#navbar{
    background-color:orange;
    width:100%;
    height:30px;
    position: absolute;
    z-index:1;
    top:0;
    padding-top:5px;
}
.link{
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
    text-decoration:none;
    color:white;
}

.fav-btn{
    position:relative;
    z-index:1;
    left:90%;
    top:55px; 
}

@media screen and (min-width:992px) {
    #search-input{
        box-sizing: border-box;
        padding:10px;
        height:50px;
        width:650px;
        margin:0 auto;
        display:block;
        border:0;
    }
    .adv-search-link{
        position: absolute;
        right:0%;
        font-size:12px;
        margin-top:20px;
        color: white;
        text-decoration-style: solid;
        text-decoration-line: underline;
    }    
    
}

@media screen and (min-width:768px) {
    #search-input{
        box-sizing: border-box;
        padding:10px;
        height:50px;
        width:650px;
        margin:0 auto;
        display:block;
        border:0;
    }

    .search-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        position:relative;
        width: 650px;
        margin: 0 auto;
    }
    

    .adv-search-link{
        position: absolute;
        right:0;
        font-size:12px;
        margin-top:20px;
        color: white;
        text-decoration-style: solid;
        text-decoration-line: underline;
    }       
}

@media screen and (max-width:768px) {
    #search-input{
        box-sizing: border-box;
        padding:10px;
        height:50px;
        width:100%;
        margin:0 auto;
        display:block;
        border:0;
    }

    .search-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        position:relative;
        margin: 0 auto;
        width:90%;
    }


    .adv-search-link{
        position: absolute;
        right:0;
        font-size:12px;
        margin-top:20px;
        color: white;
        text-decoration-style: solid;
        text-decoration-line: underline;
    }
}




.beer-container{
    text-align:center;
    margin:12px;
    position:relative;
    z-index:0;
    padding:20px;
    height:350px;
}
.beer-img{
    display:block;
    height:150px;
    margin:0 auto;
}
.beer-name{
    margin:15px auto 0px auto;
    font-size:26px;
    color:orange;
    font-weight: 900;
}
.beer-tag{
    color: rgb(161, 161, 161);

}

.dialog-content{
    display:inline-block;
    margin-left:35px;
}

.dialog-img{
    display:inline-block;
    width:20%;
    height:45%;
}

.dialog-container{
    display:flex;
    color: rgb(141, 141, 141);
}

.beer-name-dialog{
    color:orange;
}

.subtitle-dialog{
    color:orange;
}

.related-dialog{
    display:block;
}

.dialog-tag{
    color: rgb(161, 161, 161);
}

.dialog-food{
    margin-top:5px;
}